<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
	<div class="container">
            <br>
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4">Bienvenido Asesor Comercial a SIGLIT </h1>
                <h2 class="display-5">Sistema Gestión De Linea Telefonica!</h2>
                <br>
                <p class="lead">Navega desde el menú lateral donde podrás realizar las siguientes acciones:</p>
                <br><br>
    <div class="row">
        <div class="col-xl-3 col-sm-4 mb-3">
          <div class="card text-white bg-primary o-hidden h-70">
            <div class="card-body">
              <div class="card-body-icon">
                <fa-icon  [icon]="faUser"></fa-icon>
              </div>
              <div class="mr-5">Registrar Personas!</div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-warning o-hidden h-70">
            <div class="card-body">
              <div class="card-body-icon">
                <fa-icon  [icon]="faMobile"></fa-icon>
              </div>
              <div class="mr-5">Registrar Equipo!</div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-success o-hidden h-70">
            <div class="card-body">
              <div class="card-body-icon">
                <fa-icon  [icon]="faClipboardCheck"></fa-icon>
              </div>
              <div class="mr-5">Registrar Linea!</div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-info o-hidden h-70">
            <div class="card-body">
              <div class="card-body-icon">
                <fa-icon  [icon]="faEdit"></fa-icon>
              </div>
              <div class="mr-5">Actualizar Linea!</div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-70">
              <div class="card-body">
                <div class="card-body-icon">
                  <fa-icon  [icon]="faSearch"></fa-icon>
                </div>
                <div class="mr-5">Consultar Facturas!</div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-secondary o-hidden h-70">
              <div class="card-body">
                <div class="card-body-icon">
                  <fa-icon  [icon]="faSearch"></fa-icon>
                </div>
                <div class="mr-5">Consultar Lineas!</div>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>
</div>
</body>
</html>


